<div class='superpower-form-container'>
  <%= simple_form_for (@superpower) do |f| %>
    <%= f.input :name, label: 'Superpower Name' %>
    <%= f.input :description, label: 'Description' %>
    <%= f.input :price, label: 'Price' %>
    <%= f.input :strength, label: 'Strength Level' %>
    <%= f.input :photo, as: :file, label: "Upload Image", class: "superpower-image" %>
    <%= f.button :submit, class: 'glowing-btn' %>
  <% end %>
</div>
