<div class="booking-container">
  <h1>Add a new superpower</h1>
  
  <div class="form-wrapper">
    <div class="add_newpower">
      <%= simple_form_for (@superpower) do |f| %>
        <p><%= f.input :name, label: 'Superpower Name' %></p>
        <p><%= f.input :description, label: 'Description' %></p>
        <p><%= f.input :price, label: 'Price' %></p>
        <p><%= f.input :strength, label: 'Strength Level' %></p>
        <p><%= f.input :photo, as: :file, label: "Upload Image", class: "superpower-image" %></p>
        <p><%= f.button :submit, class: 'create-superpower-btn' %></p>
      <% end %>
    </div>
  </div>
</div>