<div class="booking-page">
<h1>Book this Superpower</h1>
<div class='superpower-form-container'>

   <h3><%= @superpower.name %></h3>
   <br>
   <p><strong>Description</strong>
      <br>
      <em><%= @superpower.description.truncate(100) %></em>
   </p>
   <br>
   <p><strong>Price - </strong> <%= @superpower.price.round %></p>
   <br>
   <p><strong>Strength - </strong> <%= @superpower.strength %></p>






<ul>

<% @superpower.reviews.each do |review|%>

<li> <%= review.comment  %> <%= '⭐️' * review.rating %></li>

<% end %>

</ul>



<%= simple_form_for [@superpower, @booking] do |f| %>
  <%= f.input :start_date, as: :string, input_html: { type: 'date' } %>
  <%= f.input :end_date, as: :string, input_html: { type: 'date' } %>
  <%= f.input :comment, as: :text %>
  <p><strong>Total Price:</strong> <span id="total-price">0</span></p>
  <%= f.submit "Book Superpower", class: "btn btn-primary" %>
<% end %>
</div>

<script>
  document.addEventListener("turbo:load", function () {
    const startDateInput = document.querySelector("#booking_start_date");
    const endDateInput = document.querySelector("#booking_end_date");
    const totalPriceElement = document.getElementById("total-price");
    const pricePerDay = <%= @superpower.price.to_i %>;

    function updateTotalPrice() {
      const startDate = new Date(startDateInput.value);
      const endDate = new Date(endDateInput.value);

      if (!isNaN(startDate) && !isNaN(endDate)) {
        const timeDiff = endDate - startDate;
        const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24)) + 1;
        if (days > 0) {
          const total = days * pricePerDay;
          totalPriceElement.innerText = total;
        } else {
          totalPriceElement.innerText = 0;
        }
      }
    }

    startDateInput.addEventListener("change", updateTotalPrice);
    endDateInput.addEventListener("change", updateTotalPrice);
  });
</script>

<%= link_to "Back", superpowers_path, class: "d-block"%>
