<h1>Your Bookings</h1>

<div class="booking_container">
  <% @bookings.each do |booking| %>
    <div class="booking_box">
      <div class="booking_image">
        <%= image_tag "test.png", alt: "test", class: "superpower_image" %>
      </div>
      <div class="booking_info">
        <p class="booking_detail">Superpower:<%= booking.superpower.name %></p>
        <p class="booking_detail">Start Date:<%= booking.start_date %></p>
        <p class="booking_detail">End Date:<%= booking.end_date %></p>
        <p class="booking_detail">Comment:<%= booking.comment %></p>
        <p class="booking_detail">Total Price:£<%= booking.total_price %></p>
        <%= link_to "Delete Booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<div class="back-link">
  <%= link_to "Back", superpowers_path, class: "btn btn-primary" %>
</div>