<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<body class ="lp">
<section class= "FV">
<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('<%= image_path("fv_superpower.png") %>')">
  <div>
  <div class="container">
    <%= link_to 'BOOK SUPERPOWER!', superpowers_path, class: "btn-flat1" %>
  </div>
<%# </div> %>
</section>


<section class="features">
        <div class="container">
            <div class="feature-grid">
                <div class="feature-text left">
                    <h2>NEED A HERO?<br>BECOME ONE.<br>RENT A POWER.</h2>
                </div>
                <div class="feature-image right">
                <%= image_tag "feauture1.jpg", alt: "test" %>
                </div>
            </div>

            <div class="feature-grid reverse">
                <div class="feature-image left">
                  <%= image_tag "feauture2.jpg", alt: "test" %>
                </div>
                <div class="feature-text right">
                    <h2>YOU'VE GOT THE CHOICE.<br>WE'VE GOT THE POWER.<br>LET'S SAVE THE DAY.</h2>
                </div>
            </div>
        </div>
    </section>


 <section class="reviews">
        <div class="container">
            <div class="reviews-grid">
                <div class="reviews_container">
                    <p>"My kids LOVED it.<br>Next time: invisibility!"<br>— Sarah, Mom of Two</p>
                </div>
                <div class="reviews_container">
                   <p>"Best birthday ever.<br>He flew for 10 minutes!"<br>— Mike, Proud Dad</p>
                </div>
                <div class="reviews_container">
                    <p>"Never seen her so confident.<br>Telekinesis = total win."<br>— Lena, Aunt Extraordinaire</p>
                </div>
            </div>
        </div>
    </section>

  <section class="powers">
  <div class="container">
    <h2 class="section-title">SUPER POWERS</h2>
    <div class="powers-grid">
      <% @superpowers.each do |superpower| %>
        <div class="power-card">
          <% if superpower.photo.present? %>
            <%= cl_image_tag superpower.photo.key, height: 200, width: 180, crop: :fit, alt: superpower.name, class: "superpower-image" %>
          <% else %>
            <p>No image available</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>


    </body>
